body {
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
    color: rgb(68, 68, 68);
}

header {
    position: static;
    /*    vi tri header mac dinh*/
}

main ul {
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*dinh dang cot thanh 2*/
    gap: 20px 20px;
    /*    khoang cach giua cac luoi*/
}

li:nth-of-type(3) {
    /*chon phan tu thu 3 trong li*/
    grid-column: 1/span 2;
    /*    chiem vi tri 1 2*/
}

main li {
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    /*    trong tran khong cho vuot qua kich thuoc phan tu cha*/
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.item-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    /*    huong sap xep tu tren xuong duoi*/
    justify-content: space-between;
}

.actions {
    text-align: right;
}

.actions a {
    text-decoration: none;
    padding: 6px;
    color: rgb(22, 211, 228);
    border-radius: 5px;

}

.actions a:hover {
    background-color: rgb(235, 253, 255);
}