* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Common*/
/*cac ham cuc bo*/
.clear {
    clear: both;
    /*giai quyet van de float*/
}

.text-white {
    color: white !important;
    /*    tao 1 class doi mau chu tuong tu nhu ham cuc bo*/
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;

}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.column-full {
    width: 100%;
}

.column-third {
    width: calc(100% / 3);
}

.column-half {
    width: 50%;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;

}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: #cccccc;
}

.full-right {
    float: right !important;
}


/*Main*/
#main {

}

html {
    scroll-behavior: smooth;
    font-family: Arial, Haettenschweiler, sans-serif;
}

header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .search-btn {
    float: right;
    padding: 0 21px;

}

header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
}

nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;

}

#nav > li {
    display: inline-block;
}

#nav li {

    position: relative;

}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a {
    /*color: #fff;*/
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a, #nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}


#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-dow {
    font-size: 14px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    /*    50% cua chieu rong*/
    background: url('/assets/img/slider/chicago.jpg') top center/cover no-repeat;
    position: relative;
}

.text-content {
    position: absolute;
    bottom: 48px;
    color: white;
    text-align: center;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 100%;
    /*right: 0;*/
    /*left: 0;*/
}

#slider .text-header {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*    can giua doi tuong*/
    padding: 64px 16px 112px;
}


#content .section-header {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    /*    khoang cach tung chu cai */

}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    /*    lam mo chu 60%*/
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    /*    can le 2 ben*/
    line-height: 1.4;
    /*    khoang cach cac dong*/
}

#content .member-list {
    margin-top: 48px;
    /*overflow: hidden;*/
}


#content .member-name {

    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: black;

}

.content-section {

}

.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sould-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}


.tickets-list .quantity {
    float: right;
    /*them float se co tinh chat block */
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    /*    tao hinh tron*/
    margin-top: -2px;
}

/*place*/
.places-list {
    /*margin: 32px -8px 0;*/
    margin-top: 32px;

}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;

}

.place-body {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;

    padding: 12px;
    cursor: pointer;
    opacity: 1;
}

.modal-close:hover {
    opacity: 0.9;
    background-color: white;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;

}

.modal-header-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;

}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #cccccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#btn-buy-tickets {
    background: #009688;
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#btn-buy-tickets:hover {
    background: #cccccc;
}

.model-footer {
    padding: 16px;
    text-align: right;

}

.model-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #cccccc;
    width: 100%;
    outline-color: blue;
}

.map-section img {
    width: 100%;
}

footer {
    padding: 64px 16px;
    text-align: center;

}

footer .socials-list {
    font-size: 24px;

}

footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

footer .copy-right a:hover, footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);

}

footer .copy-right {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);

}

footer .copy-right a {
    color: rgba(0, 0, 0, 0.6);

}