* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}

html {
    font-family: Arial, Haettenschweiler, sans-serif;
}

header {
    height: 46px;
    background-color: black;
}

#nav, .subnav {
    list-style-type: none;

}

#nav > li {
    display: inline-block;
}

#nav li {

    position: relative;

}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a {
    /*color: #fff;*/
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a, #nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}


#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#slider {
    min-height: 500px;
    background-color: gray;
}

#content {

}

footer {

}