* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}

html {
    font-family: Arial, Haettenschweiler, sans-serif;
}

header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .search-btn {
    float: right;
    padding: 0 21px;

}

header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
}

nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;

}

#nav > li {
    display: inline-block;
}

#nav li {

    position: relative;

}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a {
    /*color: #fff;*/
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a, #nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}


#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-dow {
    font-size: 14px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    /*    50% cua chieu rong*/
    background: url('/assets/img/slider/chicago.jpg') top center/cover no-repeat;
    position: relative;
}

.text-content {
    position: absolute;
    bottom: 48px;
    color: white;
    text-align: center;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 100%;
    /*right: 0;*/
    /*left: 0;*/
}

#slider .text-header {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

footer {

}
